requests<2.20 #It must be smaller than 2.20 for finance
jupyter
jupyter_contrib_nbextensions
pandas
scipy
pandas_datareader
seaborn
bokeh
flask
gitpython
yfinance
finance
matplotlib

# Data Sources:

alpha_vantage # src: https://github.com/RomelTorres/alpha_vantage
pyasx # src: https://github.com/zacscott/pyasx