requests<2.20 #It must be smaller than 2.20 for finance
jupyter
jupyter_contrib_nbextensions
pandas
scipy
seaborn
bokeh
flask
gitpython
finance
matplotlib
sqlalchemy

# Data Sources:

alpha_vantage # src: https://github.com/RomelTorres/alpha_vantage
pyasx # src: https://github.com/zacscott/pyasx
yfinance
pandas_datareader